In [1]:
!pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\luiz krawiec\appdata\local\programs\python\python312\lib\site-packages (5.1.0)

In [27]:
# !pip install pyodbc#<-- iNSTALAR PYODBC

import pandas as pd
import pyodbc # <-- BOM PARA LEMBRAR PARA COLOCAR NO PORTFOLIO

In [28]:
server = 'DESKTOP-KLPI1BO\\SQLEXPRESS' # Substitua pelo nome do servidor SQL Server ***ATENÇÃO NA BARRA DUPLA
database = 'car_shop'  # Substitua pelo nome do banco de dados
conexaoDB = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};' # PARA ACHAR ESSA LINHA PROCURAR EM FONTES DE DADOS ODBC E ABA DRIVERS
                      f'SERVER={server};'
                      f'DATABASE={database};'
                      'Trusted_Connection=yes;')

cursor = conexaoDB.cursor()   # criando cursor de comando

In [29]:
dados = pd.read_excel(r"C:\Users\Luiz Krawiec\OneDrive\Documentos\portfolio\automação, implantação e EDA\excel\tbCustomers.xlsx")
#display(dados)
dados.head(5)
#display(dados)

,customer_id,cpf,first_name,last_name,state,city,birth_date,income,score,professional_status,email,mobile
0,73650706FFAE,84932586604,IVONELIA,ARGULINO,SP,SÃO PAULO,1973-01-24,7000.0,491,clt,ivonelia.argulino265830@gmail.com,69262265830
1,236A739A6063,5912702104,ESTEVANIA,MARTHUS,SP,SÃO PAULO,1969-06-30,5800.0,376,clt,estevania.marthus204682@gmail.com,40632204682
2,CF2DFCBE74E3,85148454740,CLEUDINE,DUARTE,MG,BELO HORIZONTE,1945-12-25,3190.0,279,clt,cleudine.duarte661670@gmail.com,81639661670
3,25504A496AEB,12430594512,ADEIZE,LUZILDO,SC,NAVEGANTES,1948-03-25,11000.0,309,civil_servant,adeize.luzildo797118@gmail.com,21943797118
4,05DE6BCDFEC7,1571615400,SHEYLLA,JESKA,SP,CARAPICUÍBA,1963-10-31,6000.0,305,clt,sheylla.jeska608366@gmail.com,65148608366

In [31]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25109 entries, 0 to 25108
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   customer_id          25109 non-null  object
 1   cpf                  25109 non-null  int64
 2   first_name           25109 non-null  object
 3   last_name            25109 non-null  object
 4   state                25109 non-null  object
 5   city                 25109 non-null  object
 6   birth_date           25109 non-null  datetime64[ns]
 7   income               25109 non-null  float64
 8   score                25109 non-null  int64
 9   professional_status  25109 non-null  object
 10  email                25109 non-null  object
 11  mobile               25109 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(3), object(7)
memory usage: 2.3+ MB

In [32]:
str(dados.columns).replace("'","")

'Index([customer_id, cpf, first_name, last_name, state, city,\n       birth_date, income, score, professional_status, email,\n       mobile],\n      dtype=object)'

In [34]:
cursor.execute('truncate table[tbCustomers3]')   #executa tarefa de  apagar dados
cursor.commit()

In [37]:
for index, linha in dados.iterrows():
    # Truncate customer_id if it exceeds 50 characters
    customer_id = str(linha.customer_id)[:50]
    cursor.execute("INSERT INTO [tbCustomers3] (customer_id, cpf, first_name, last_name, state, city, birth_date, income, score, professional_status, email, mobile) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)",
                   customer_id, str(linha.cpf), linha.first_name, linha.last_name, linha.state, linha.city, str(linha.birth_date), int(linha.income), int(linha.score), linha.professional_status, linha.email, str(linha.mobile))
cursor.commit()

In [ ]:
cursor.execute('delete  from [tbCustomers3]')   #executa tarefa de  apagar dados
cursor.commit()