In [7]:
# !pip install pyodbc#<-- iNSTALAR PYODBC

import pandas as pd
import pyodbc # <-- BOM PARA LEMBRAR PARA COLOCAR NO PORTFOLIO

In [8]:
server = 'DESKTOP-KLPI1BO\\SQLEXPRESS' # Substitua pelo nome do servidor SQL Server ***ATENÇÃO NA BARRA DUPLA
database = 'car_shop'  # Substitua pelo nome do banco de dados
conexaoDB = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};' # PARA ACHAR ESSA LINHA PROCURAR EM FONTES DE DADOS ODBC E ABA DRIVERS
                      f'SERVER={server};'
                      f'DATABASE={database};'
                      'Trusted_Connection=yes;')

cursor = conexaoDB.cursor()   # criando cursor de comando

In [9]:
dados = pd.read_excel(r"C:\Users\Luiz Krawiec\OneDrive\Documentos\portfolio\automação, implantação e EDA\excel\tbProducts.xlsx")
#display(dados)
dados.head(5)
#display(dados)

   product_id       brand   model  model_year  price
0  produto001     RENAULT   LOGAN        2014  67500
1  produto002  VOLKSWAGEN     GOL        2012  51000
2  produto003        FIAT   PALIO        2016  61500
3  produto004      NISSAN  SENTRA        2012  53850
4  produto005        FIAT     UNO        2015  52500

In [10]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333 entries, 0 to 332
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   product_id  333 non-null    object
 1   brand       333 non-null    object
 2   model       333 non-null    object
 3   model_year  333 non-null    int64
 4   price       333 non-null    int64
dtypes: int64(2), object(3)
memory usage: 13.1+ KB

In [11]:
str(dados.columns).replace("'","")

'Index([product_id, brand, model, model_year, price], dtype=object)'

In [12]:
cursor.execute('truncate table[tbProducts]')   #executa tarefa de  apagar dados
cursor.commit()

In [14]:
for index, linha in dados.iterrows():
    cursor.execute("Insert into [tbProducts](product_id, brand, model, model_year,price)values(?,?,?,?,?)",linha.product_id,linha.brand,linha.model,linha.model_year,linha.price) 
     # inserir colunas e quantas colunas tiver passar quantidade de ??
cursor.commit()   # validar dados no SQL Server
cursor.close()    #Fechar Cursor
conexaoDB.close() #Fechar Conexao

In [ ]:
cursor.execute('delete  from [tbProducts]')   #executa tarefa de  apagar dados
cursor.commit()