In [7]:
# !pip install pyodbc#<-- iNSTALAR PYODBC

import pandas as pd
import pyodbc # <-- BOM PARA LEMBRAR PARA COLOCAR NO PORTFOLIO

In [8]:
server = 'DESKTOP-KLPI1BO\\SQLEXPRESS' # Substitua pelo nome do servidor SQL Server ***ATENÇÃO NA BARRA DUPLA
database = 'car_shop'  # Substitua pelo nome do banco de dados
conexaoDB = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};' # PARA ACHAR ESSA LINHA PROCURAR EM FONTES DE DADOS ODBC E ABA DRIVERS
                      f'SERVER={server};'
                      f'DATABASE={database};'
                      'Trusted_Connection=yes;')

cursor = conexaoDB.cursor()   # criando cursor de comando

In [9]:
dados = pd.read_excel(r"C:\Users\Luiz Krawiec\OneDrive\Documentos\portfolio\automação, implantação e EDA\excel\tbStores.xlsx")
#display(dados)
dados.head(5)
#display(dados)

                           store_name      store_cnpj      store_id
0     RONDINELIA HENDRI WALTERCY LTDA  69947176155500  BF580E604866
1    MARIONILSON ELENILCE ANNAIR LTDA  57751318123400  F79B06D22BC3
2      JODINA CARLILI VALDILUCIO LTDA   7763238230760  B06DF477008E
3  GERSIANA WILKLER PAULOROBERTO LTDA  78206840245600  97D85A358174
4      DICIVALDO ROSICLER LISIAN LTDA  10581742244300  71CC76D33BA5

In [10]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3026 entries, 0 to 3025
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   store_name  3026 non-null   object
 1   store_cnpj  3026 non-null   int64
 2   store_id    3026 non-null   object
dtypes: int64(1), object(2)
memory usage: 71.1+ KB

In [11]:
str(dados.columns).replace("'","")

'Index([store_name, store_cnpj, store_id], dtype=object)'

In [12]:
cursor.execute('truncate table[tbStores]')   #executa tarefa de  apagar dados
cursor.commit()

In [13]:
for index, linha in dados.iterrows():
    cursor.execute("Insert into [tbStores](store_name, store_cnpj, store_id)values(?,?,?)",linha.store_name,linha.store_cnpj,linha.store_id) 
     # inserir colunas e quantas colunas tiver passar quantidade de ??
cursor.commit()   # validar dados no SQL Server
cursor.close()    #Fechar Cursor
conexaoDB.close() #Fechar Conexao

In [14]:
cursor.execute('delete  from [tbStores]')   #executa tarefa de  apagar dados
cursor.commit()