In [67]:
# !pip install pyodbc#<-- iNSTALAR PYODBC

import pandas as pd
import pyodbc # <-- BOM PARA LEMBRAR PARA COLOCAR NO PORTFOLIO

In [68]:
server = 'DESKTOP-KLPI1BO\\SQLEXPRESS' # Substitua pelo nome do servidor SQL Server ***ATENÇÃO NA BARRA DUPLA
database = 'car_shop'  # Substitua pelo nome do banco de dados
conexaoDB = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};' # PARA ACHAR ESSA LINHA PROCURAR EM FONTES DE DADOS ODBC E ABA DRIVERS
                      f'SERVER={server};'
                      f'DATABASE={database};'
                      'Trusted_Connection=yes;')

cursor = conexaoDB.cursor()   # criando cursor de comando

In [69]:
dados = pd.read_excel(r"C:\Users\Luiz Krawiec\OneDrive\Documentos\portfolio\automação, implantação e EDA\excel\tbTemp_Regions.xlsx")
#display(dados)
dados.head(5)
#display(dados)

                   city estado        region        size  code  populacao
0  Alta Floresta Doeste     RO  Região Norte  Pequeno II    69      24392
1             Ariquemes     RO  Região Norte       Médio    69      90353
2                Cabixi     RO  Região Norte   Pequeno I    69       6313
3                Cacoal     RO  Região Norte       Médio    69      78574
4            Cerejeiras     RO  Região Norte   Pequeno I    69      17029

In [70]:
dados_sem_nulos = dados.dropna()

In [71]:
dados_sem_nulos['populacao'] = dados_sem_nulos['populacao'].astype(float)

In [72]:
dados_sem_nulos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   city       5570 non-null   object
 1   estado     5570 non-null   object
 2   region     5570 non-null   object
 3   size       5570 non-null   object
 4   code       5570 non-null   int64
 5   populacao  5570 non-null   float64
dtypes: float64(1), int64(1), object(4)
memory usage: 261.2+ KB

In [73]:
str(dados_sem_nulos.columns).replace("'","")

'Index([city, estado, region, size, code, populacao], dtype=object)'

In [74]:
cursor.execute('truncate table[tbTemp_Regions7]')   #executa tarefa de  apagar dados
cursor.commit()

In [75]:
for index, linha in dados.iterrows():
    cursor.execute("Insert into [tbTemp_Regions7](city, estado, region, size, code, populacao)values(?,?,?,?,?,?)",linha.city,linha.estado,linha.region,linha.size,linha.code,linha.populacao) 
     # inserir colunas e quantas colunas tiver passar quantidade de ??
cursor.commit()   # validar dados no SQL Server
cursor.close()    #Fechar Cursor
conexaoDB.close() #Fechar Conexao

In [76]:
cursor.execute('delete  from [tbTemp_Regions7]')   #executa tarefa de  apagar dados
cursor.commit()