In [7]:
# !pip install pyodbc#<-- iNSTALAR PYODBC

import pandas as pd
import pyodbc # <-- BOM PARA LEMBRAR PARA COLOCAR NO PORTFOLIO

In [8]:
server = 'DESKTOP-KLPI1BO\\SQLEXPRESS' # Substitua pelo nome do servidor SQL Server ***ATENÇÃO NA BARRA DUPLA
database = 'car_shop'  # Substitua pelo nome do banco de dados
conexaoDB = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};' # PARA ACHAR ESSA LINHA PROCURAR EM FONTES DE DADOS ODBC E ABA DRIVERS
                      f'SERVER={server};'
                      f'DATABASE={database};'
                      'Trusted_Connection=yes;')

cursor = conexaoDB.cursor()   # criando cursor de comando

In [9]:
dados = pd.read_excel(r"C:\Users\Luiz Krawiec\OneDrive\Documentos\portfolio\automação, implantação e EDA\excel\tbTemp_Products_2.xlsx")
#display(dados)
dados.head(5)
#display(dados)

   product_id   brand model  model_year   price
0  produto334  RIVIAN    X1        2021  300000
1  produto335  RIVIAN    X2        2021  400000
2  produto336  RIVIAN    X3        2021  500000

In [10]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   product_id  3 non-null      object
 1   brand       3 non-null      object
 2   model       3 non-null      object
 3   model_year  3 non-null      int64
 4   price       3 non-null      int64
dtypes: int64(2), object(3)
memory usage: 252.0+ bytes

In [11]:
str(dados.columns).replace("'","")

'Index([product_id, brand, model, model_year, price], dtype=object)'

In [12]:
cursor.execute('truncate table[tbTemp_Products_2]')   #executa tarefa de  apagar dados
cursor.commit()

In [13]:
for index, linha in dados.iterrows():
    cursor.execute("Insert into [tbTemp_Products_2](product_id, brand, model, model_year, price)values(?,?,?,?,?)",linha.product_id,linha.brand,linha.model,linha.model_year,linha.price) 
     # inserir colunas e quantas colunas tiver passar quantidade de ??
cursor.commit()   # validar dados no SQL Server
cursor.close()    #Fechar Cursor
conexaoDB.close() #Fechar Conexao

In [14]:
cursor.execute('delete  from [tbTemp_Products_2]')   #executa tarefa de  apagar dados
cursor.commit()