In [15]:
# !pip install pyodbc#<-- iNSTALAR PYODBC

import pandas as pd
import pyodbc # <-- BOM PARA LEMBRAR PARA COLOCAR NO PORTFOLIO

In [16]:
server = 'DESKTOP-KLPI1BO\\SQLEXPRESS' # Substitua pelo nome do servidor SQL Server ***ATENÇÃO NA BARRA DUPLA
database = 'car_shop'  # Substitua pelo nome do banco de dados
conexaoDB = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};' # PARA ACHAR ESSA LINHA PROCURAR EM FONTES DE DADOS ODBC E ABA DRIVERS
                      f'SERVER={server};'
                      f'DATABASE={database};'
                      'Trusted_Connection=yes;')

cursor = conexaoDB.cursor()   # criando cursor de comando

In [17]:
dados = pd.read_excel(r"C:\Users\Luiz Krawiec\OneDrive\Documentos\portfolio\automação, implantação e EDA\excel\tbtemp_genders.xlsx")
#display(dados)
dados.head(5)
#display(dados)

  first_name  gender
0     maiuly  female
1   jesuildo    male
2      geara  female
3    demilda  female
4     aleuda  female

In [18]:
dados['first_name'] = dados['first_name'].astype(str)

In [19]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100787 entries, 0 to 100786
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   first_name  100787 non-null  object
 1   gender      100787 non-null  object
dtypes: object(2)
memory usage: 1.5+ MB

In [20]:
str(dados.columns).replace("'","")

'Index([first_name, gender], dtype=object)'

In [21]:
cursor.execute('truncate table[tbTemp_genders]')   #executa tarefa de  apagar dados
cursor.commit()

In [22]:
for index, linha in dados.iterrows():
    cursor.execute("Insert into [tbTemp_genders](first_name, gender)values(?,?)",linha.first_name,linha.gender) 
     # inserir colunas e quantas colunas tiver passar quantidade de ??
cursor.commit()   # validar dados no SQL Server
cursor.close()    #Fechar Cursor
conexaoDB.close() #Fechar Conexao

In [23]:
cursor.execute('delete  from [tbTemp_genders]')   #executa tarefa de  apagar dados
cursor.commit()